@namespace AdamPostProductionPortfolio.Components

<div class="bg-neutral-800 rounded-2xl overflow-hidden shadow-xl 
            hover:shadow-[0_0_35px_rgba(255,255,255,0.15)] 
            hover:-translate-y-2 transition-all duration-300"
     role="listitem">

    <!-- Video Container -->
    <div class="w-full max-w-4xl mx-auto aspect-[5/4]">
        <iframe
            class="w-full h-full"
            style="height:275px;"
            src="@VideoSrc"
            title="@ProjectTitle"
            loading="lazy"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>

    <!-- Text Content -->
    <div class="p-4 space-y-3">
        <h2 class="text-xl font-semibold tracking-tight pb-1">
            @ProjectTitle
        </h2>
        <br />
        <p class="text-gray-400 text-sm leading-relaxed">
            @Description
        </p>
    </div>
</div>

@code {
    [Parameter]
    public required string VideoSrc { get; set; }

    [Parameter]
    public required string ProjectTitle { get; set; }

    [Parameter]
    public required string Description { get; set; }
}