@namespace AdamPostProductionPortfolio.Components

<div class="space-y-3" role="listitem">
    <h2 class="text-2xl font-semibold tracking-tight">
        @Title
    </h2>

    <p class="text-gray-400 leading-relaxed">
        @Description
    </p>
</div>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Description { get; set; }
}